name: Upgrade
on:
  schedule:
    - cron: '* * * * *'
  workflow_dispatch: {}
jobs:
  upgrade:
    name: Upgrade
    runs-on: ubuntu-latest
    steps:
      - name: Git Config
        run: |
          git config --global user.name github-actions[bot]
          git config --global user.email 41898282+github-actions[bot]@users.noreply.github.com
          gh auth login --with-token <<< ${{ github.token }}
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Upgrade
        run: make continuous-upgrade
